/* app css stylesheet */

h1 {
    color: black;
    font-family: CaslonAntiqueBoldItalic, serif;
    font-size: 38px;
}

h2 {
    color: black;
    font-family: CaslonAntiqueBoldItalic, serif;
    font-size: 28px;
    text-align:center;
}

p {
    font-family: CaslonAntique, serif;
    font-size: 20px;
}

input {
	display: none;
}

.CodeMirror {
    border: 1px solid #eee;
    height: auto;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: CaslonAntiqueBold, serif;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: darkred;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ddd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.header img {
    float: left;
    width: 80px;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
    font-size: 50px;
    padding: 10px;
    margin-left: 100px;
}

@font-face {
    font-family: 'CaslonAntique';
    src: url('../fonts/CaslonAntique.ttf');
}

@font-face {
    font-family: 'CaslonAntiqueBold';
    src: url('../fonts/CaslonAntique-Bold.ttf');
}

@font-face {
    font-family: 'CaslonAntiqueItalic';
    src: url('../fonts/CaslonAntique-Italic.ttf');
}

@font-face {
    font-family: 'CaslonAntiqueBoldItalic';
    src: url('../fonts/CaslonAntique-BoldItalic.ttf');
}

p {
    padding-left: 60px;
    padding-right: 60px;
    text-align: justify;
}

.pbold {
    font-family: CaslonAntiqueBold, serif;
}

.centerdiv {
    display: flex;
    justify-content: center;
}
.btn1 {
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background-color:#333;
    border-radius:6px;
    border:1px solid darkred;
    cursor:pointer;
    color:#ffffff;
    font-family: CaslonAntique, serif;
    font-size:20px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px -1px 0px #5b6178;
    display: inline-block;
}
.btn1:hover {
    background-color: darkred;
}
.btn1:active {
    position:relative;
    top:1px;
}

.subnav {
    float: left;
    overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: darkred;
    color: white;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #ddd;
    width: 100%;
    z-index: 1;
    margin-left: 10px;
    margin-right: 10px;
}

/* Style the subnav links */
.subnav-content a {
    float: left;
    color: black;
    text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
    background-color: darkred;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
    display: block;
}

.icon-bar {
    font-family: CaslonAntiqueBold, serif;
    width: 45.1%; /* Full-width */
    background-color: #555; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
    height: 10%;
    margin-left: 1.65em;
    margin-right: 1.65em;
    margin-top: 2em;
}

.icon-bar a, .icon-bar label {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 25%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 10px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 24px; /* Increased font size */
    text-decoration: none;
    cursor: pointer;
}

.icon-bar a:hover, .icon-bar label:hover {
    background-color: #000; /* Add a hover color */
}

.active {
    background-color: #4CAF50; /* Add an active/current color */
}

.displaydiv {
    width: 45%;
    height: 650px;
    margin-left: 1.5em;
    margin-right: 1.55em;
    border: double black;
}

#uk, #es {
    float: right;
    cursor: pointer;
    margin-right: 10px;
}

#wesoi, #wesoa {
    float:right;
    width: 100px;
}

.ak {
    text-decoration: underline;
}

#umlimg {
    max-width: 100%;
    max-height: 100%;
}

#uml {
    width: 44.6%;
}

#umlib1 {
    margin-left: 1.7em;
}

#umlib2 {
    margin-left: 1.4em;
}

#isx, #ixs {
    margin-top: 1em;
}